{% extends 'general.html.twig' %}

{% block title %}<title>JPO MMI - Liste des postulants apb</title>{% endblock title %}

{% block body %}

<main>

    <div id="intro-form-post">
        <h3>JPO MMI</h3>
        <p class="p-centrer">Liste des postulants pour le département MMI.</p>
    </div>

    <!- Traitement du formulaire pour les postulants (renseigné à la fin de leur visité à la JPO MMI). ->

</main>


{% endblock %}
