{% extends 'general.html.twig' %}

{% block title %}<title>JPO MMI - Pour quels métiers ?</title>{% endblock %}

{% block body %}


    <main>
        <h2>Pour quels métiers ?</h2>

        <p>En deux ans, la formation MMI permet au diplômé d'en sortir en étant polyvalent dans plusieurs domaines. De multiples
            débouchés lui sont alors possibles. En voici quelques-uns :</p>

        <section id="com-cloud">
            <div class="nuage">
                <ul class="cloud">
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/animateur-de-communaute-community-manager"
                           class="tag2">Community Manager</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/chef-de-projet-e-learning" class="tag3">Chef de
                            projet e-formation</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/charge-de-communication-web" class="tag4">Chargé de
                            communication</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/consultant-referencement-payant-sea" class="tag5">Consultant
                            référencement</a></li>
                </ul>
                <ul class="cloud">
                    <li class="tag1">Communication</li>
                </ul>
                <ul class="cloud">
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/gestionnaire-des-medias-sociaux" class="tag4">Gestionnaire
                            des médias sociaux</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/ingenieur-commercial-web" class="tag7">Ingenieur
                            commercial web</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/documentaliste" class="tag3">Documentaliste</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/consultant-en-web-analytics" class="tag6">Consultant en web
                            analytics</a></li>
                </ul>
            </div>
        </section>

        <section id="design-cloud">
            <div class="nuage">
                <ul class="cloud">
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/illustrateur-3d" class="tag7">Illustrateur 3D</a>
                    </li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/directeur-artistique-web" class="tag3">Directeur
                            artistique</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/webdesigner" class="tag6">Webdesigner</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/graphiste-web" class="tag5">Graphiste web</a></li>
                </ul>
                <ul class="cloud">
                    <li class="tag1">Design</li>
                </ul>
                <ul class="cloud">
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/ergonome-web" class="tag7">Ergonome web</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/designer-dinteraction" class="tag6">Designer d'interaction</a>
                    </li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/designer-web-mobile" class="tag3">Designer web mobile</a></li>
                </ul>
            </div>
        </section>

        <section id="dev-cloud">
            <div class="nuage">
                <ul class="cloud">
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/developpeur-web" class="tag2">Développeur web</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/formateur-tic" class="tag3">Formateur TIC</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/architecte-web" class="tag5">Architecte web</a></li>
                </ul>
                <ul class="cloud">
                    <li class="tag1">Développement</li>
                </ul>
                <ul class="cloud">
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/ingenieur-reseaux" class="tag6">Ingénieur réseau</a>
                    </li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/integrateur-web" class="tag2">Intégrateur web</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/gestionnaire-de-base-de-donnees" class="tag6">Gestionnaire de
                            base de données</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/expert-en-cybersecurite" class="tag2">Expert en
                            cybersecurité</a></li>
                </ul>
            </div>
        </section>

        <section id="audio-cloud">
            <div class="nuage">
                <ul class="cloud">
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/regisseur-multimedia" class="tag6">Régisseur multimédia</a></li>
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/designer-sonore" class="tag7">Designer sonore</a></li>
                </ul>
                <ul class="cloud">
                    <li class="tag1">Audiovisuel</li>
                </ul>
                <ul class="cloud">
                    <li><a href="http://www.metiers.internet.gouv.fr/metier/charge-de-production-video" class="tag7">Chargé de
                            production vidéo</a></li>
                </ul>
            </div>
        </section>
    </main>

{% endblock body %}
