{% extends 'general.html.twig' %}

{% block title %}<title>JPO MMI - Liste des publications</title>{% endblock title %}

{% block body %}

<main>

    <div id="intro-form-post">
        <h3>JPO MMI</h3>
        <p class="p-centrer">Gestion des publications mises en ligne sur la page JPO MMI EN LIVE.</p>
    </div>

</main>


{% endblock %}
