{% extends 'general.html.twig' %}

{% block title %}<title>JPO MMI - Liste des inscrits à la Newsletter</title>{% endblock title %}

{% block body %}

<main>

    <div id="intro-form-post">
        <h3>JPO MMI</h3>
        <p class="p-centrer">Liste des inscrits à la Newsletter.</p>
    </div>

    <!- Traitement du formulaire d'inscription à la Newsletter (formulaire renseigné sur la page index). ->

</main>


{% endblock %}
