{% extends 'general.html.twig' %}

{% block title %}<title>JPO MMI - Liste des participants</title>{% endblock title %}

{% block body %}

<main>

    <div id="intro-form-post">
        <h3>JPO MMI</h3>
        <p class="p-centrer">Liste des participants.</p>
    </div>

    <!- Traitement du formulaire de participation. ->

</main>


{% endblock %}
