{% extends 'general2.html.twig' %}

{% block title %}JPO MMI - Accueil{% endblock %}

{% block body %}

    <div class="video-container">
        <video autoplay loop poster="images-contenu/mmi-students.jpg" id="bgvid" class='fillWidth' >
            <source src="images-contenu/Laptop - 4731.mp4" type="video/mp4"/>
        </video>
    </div>


    <section id="intro">
        <div>
            <h1>Département MMI</h1>
            <div id="cadre-titre-baskerville">
                <h1 id="titre-baskerville">Journée Portes Ouvertes</h1>
            </div>
        </div>


        <div>
            <p id="date">4 FÉVRIER 2017</p>
            <p id="horaires">9h - 17h</p>
        </div>

        <a href="index.php?page=accueil" class="button">Participez à l'aventure !</a>

        <ul class="countdown">
            <li>
                <span class="days"></span>

                <p class="timeRefDays"></p>
            </li>
            <li>
                <span class="hours"></span>

                <p class="timeRefHours"></p>
            </li>
            <li>
                <span class="minutes"></span>

                <p class="timeRefMinutes"></p>
            </li>
            <li>
                <span class="seconds"></span>

                <p class="timeRefSeconds"></p>
            </li>
        </ul>
        <script src='js/countdown/jquery.min.js'></script>
        <script async src="js/countdown/countdown.js"></script>
    </section>

{% endblock body %}