{% extends 'general.html.twig' %}

{% block title %}<title>JPO MMI - Liste des médias</title>{% endblock title %}

{% block body %}

<main>

    <div id="intro-form-post">
        <h3>JPO MMI</h3>
        <p class="p-centrer">Gestion des médias.</p>
    </div>

</main>


{% endblock %}
