{% extends 'general.html.twig' %}

{% block title %}<title>JPO MMI - Merci de votre participation</title>{% endblock title %}

{% block body %}

<main>

    <div id="intro-form-post">
        <h3>JPO MMI</h3>
        <p class="p-centrer">Votre formulaire de participation à la JPO a été validé.</p>
    </div>

</main>


{% endblock %}
